.card__name {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  margin: 0;
  max-width: 290px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .card__name{
    font-size: 12px;
    line-height: 1.25;
  }
}