.about-project__container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 70px 0 110px;
}

@media screen and (max-width: 1279px) {
  .about-project__container {
    padding: 70px 0 93px;
  }
}

@media screen and (max-width: 767px) {
  .about-project__container {
    flex-direction: column;
    padding: 60px 0;
    align-items: center;
  }
}