.about-project {
  max-width: calc(1280px - 2 * 70px);
  width: calc(100% - 2 * 70px);
  margin: 110px auto 90px;
}

@media screen and (max-width: 1279px) {
  .about-project {
    width: calc(100% - 2 * 50px);
    margin: 90px auto 72px;
  }
}

@media screen and (max-width: 767px) {
  .about-project {
    width: calc(100% - 2 * 18px);
    margin: 70px auto;
    display: flex;
    flex-direction: column;
  }
}