.promo {
  padding: 75px 0;
  background-color: #073042;
}

@media screen and (max-width: 1279px) {
  .promo {
    padding: 140px 0 75px;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    padding: 70px 0 30px;
  }
}