.promo__image {
  align-self: flex-start;
}

@media screen and (max-width: 1279px) {
  .promo__image {
    align-self: center;
    margin: 0 auto 48px;
  }
}

@media screen and (max-width: 767px) {
  .promo__image {
    width: 210px;
    margin: 0 auto 44px;
  }
}