.form__image {
  margin: 0 0 40px;
  width: 38px;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .form__image {
    margin: 0 auto 50px;
  }
}

.form__image:hover {
  opacity: 0.6;
  cursor: pointer;
}
