.header__container {
  max-width: calc(1280px - 2 * 70px);
  width: calc(100% - 2 * 70px);
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .header__container {
    width: calc(100% - 2 * 30px);
  }
}

@media screen and (max-width: 1023px) {
  .header__container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    width: calc(100% - 2 * 14px);
  }
}