.about-me__photo {
  border-radius: 10px;
  height: 100%;
  margin: 0 0 0 30px;
  object-fit: contain;
}

@media screen and (max-width: 1279px) {
  .about-me__photo {
    max-width: 292px;
  }
}

@media screen and (max-width: 767px) {
  .about-me__photo {
    margin: 0;
  }
}