.about-me__container {
  display: flex;
  justify-content: space-between;
  margin: 66px auto 0;
}

@media screen and (max-width: 767px) {
  .about-me__container {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 292px;
  }
}