.footer__copyright {
  font-size: 13px;
  line-height: 1.23;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    color: #A0A0A0;
    font-size: 12px;
    line-height: 1.25;
    align-self: center;
    margin: 20px 0 0;
  }
}