.not-found__link {
  text-decoration: none;
  color: #3456F3;
  font-size: 14px;
  line-height: 1.21;
  transition: opacity 0.3s ease-in-out;
}

.not-found__link:hover {
  opacity: 0.6;
}


@media screen and (max-width: 767px) {
  .not-found__link {
    font-size: 12px;
    line-height: 1.25;
  }
}