.search__short-text {
  margin: 0 0 0 14px;
  font-size: 13px;
  line-height: 1.38;
}

@media screen and (max-width: 767px) {
  .search__short-text {
    font-size: 11px;
    line-height: 1.63;
    margin: 0 0 0 13px;
  }
}