.card__like-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  background-image: url(../../../images/active_like.svg);
  width: 14px;
  height: 12px;
  transition: opacity 0.3s ease-in-out;
}

.card__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__like-button:focus {
  outline: none;
}
