.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #E8E8E8;
}

@media screen and (max-width: 767px) {
  .footer__container {
    padding-top: 25px;
    flex-direction: column-reverse;
  }
}