.search__form {
  display: flex;
  flex: 1;
  padding: 19px 0 19px 19px;
  background-color: #F9F9F9;
}

@media screen and (max-width: 767px) {
  .search__form {
    padding: 19px;
    border-radius: 9px;
  }
}