.search__button {
  background-image: url(../../../images/search_blue_icon.svg);
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 34px;
  height: 34px;
  transition: opacity 0.3s ease-in-out;
  display: block;
}

.search__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search__button:focus {
  outline: none;
}