.more__button {
  padding: 0;
  background-color: transparent;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25px;
  width: 320px;
  height: 36px;
  transition: opacity 0.3s ease-in-out;
}

.more__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.more__button:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .more__button {
    width: 240px;
  }
}