.techs__title {
  font-weight: 400;
  padding: 0 0 23px;
  font-size: 22px;
  line-height: 1.23;
  border-bottom: 1px solid black;
  letter-spacing: -0.04em;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .techs__title {
    font-size: 18px;
    line-height: 1.22;
    padding: 0 0 28px;
  }
}