.register {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
}

@media screen and (max-width: 1023px) {
  .register {
    margin: 230px auto;
  }
}

@media screen and (max-width: 767px) {
  .register {
    margin: 56px 30px 30px;
  }
}
