.profile__edit-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
  font-size: 13px;
  line-height: 1.23;
  margin: 220px 0 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__edit-button:focus {
  outline: none;
}

@media screen and (max-width: 1279px) {
  .profile__edit-button {
    margin: 210px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    margin: 379px 0 0;
    font-size: 12px;
    line-height: 1.25;
  }
}