.header__wrap-button {
  background-image: url(../../../images/navbar_icon.svg);
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  justify-self: end;
  width: 44px;
}

@media screen and (max-width: 767px) {
  .header__wrap-button {
    width: 38px;
    height: 38px;
  }
}