.techs__desription {
  margin: 0 auto 100px;
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  max-width: 460px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1279px) {
  .techs__desription {
    font-size: 12px;
    line-height: 1.5;
    margin: 0 auto 83px;
  }
}

@media screen and (max-width: 767px) {
  .techs__desription {
    font-size: 11px;
    line-height: 1.45;
    margin: 0 auto 50px;
  }
}