.promo__button {
  padding: 0;
  background: transparent;
  border: 1px solid rgba(256, 256, 256, .6);
  border-radius: 3px;
  transition: opacity 0.3s ease-in-out;
  color: white;
  width: 129px;
  height: 36px;
  font-size: 12px;
  line-height: 1.33;
}

.promo__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.promo__button:focus {
  outline: none;
}

@media screen and (max-width: 1279px) {
  .promo__button {
    margin: 0 auto;
  }
}
