.card__image {
  display: block;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 203px;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.card__image:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .card__image {
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .card__image {
    height: 168px;
  }
}