.navigation__link {
  text-decoration: none;
  color: black;
  transition: opacity 0.3s ease-in-out;
  font-size: 13px;
  line-height: 1.23;
}

.navigation__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .navigation__link {
    font-size: 12px;
    line-height: 1.25px;
  }
}