.main {
  background-color: #F5F5F5;
  padding: 100px 0;
}

.container {
  max-width: calc(1280px - 2 * 70px);
  width: calc(100% - 2 * 70px);
  margin: 0 auto;
}

.description {
  margin: 0 auto 100px;
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  max-width: 460px;
  letter-spacing: -0.04em;
}

.item {
  width: 90px;
  height: 60px;
  background-color: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.04em;
}

.list {
  padding: 0;
  display: flex;
  list-style: none;
  max-width: 690px;
  margin: 0 auto;
  justify-content: space-between;
}

.subtitle {
  margin: 90px auto 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
}

.title {
  font-weight: 400;
  padding: 0 0 23px;
  font-size: 22px;
  line-height: 1.23;
  border-bottom: 1px solid black;
  letter-spacing: -0.04em;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .main {
    padding: 90px 0;
  }

  .container {
    width: calc(100% - 2 * 50px);
  }

  .desription {
    font-size: 12px;
    line-height: 1.5;
    margin: 0 auto 83px;
  }

  .item {
    font-size: 12px;
    line-height: 1.25;
    width: 84px;
    height: 57px;
  }

  .list {
    max-width: 648px;
  }

  .subtitle {
    margin: 80px auto 22px;
  }
}

@media screen and (max-width: 767px) {
  .main {
    padding: 60px 0;
    background-color: white;
  }

  .container {
    width: calc(100% - 2 * 18px);
  }

  .desription {
    font-size: 11px;
    line-height: 1.45;
    margin: 0 auto 50px;
  }

  .item {
    margin-bottom: 10px;
  }

  .list {
    max-width: 178px;
    flex-wrap: wrap;
  }

  .subtitle {
    font-size: 30px;
    line-height: 1.2;
    margin: 60px auto 24px;
  }

  .title {
    font-size: 18px;
    line-height: 1.22;
    padding: 0 0 28px;
  }
}