.content__error {
  text-align: center;
  max-width: 650px;
  margin: 50px auto;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (max-width: 1279px) {
  .content__error {
    max-width: 550px;
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .content__error {
    max-width: 250px;
    font-size: 14px;
    line-height: 1.3;
  }
}