.portfolio__item {
  font-size: 30px;
  line-height: 1.66;
  letter-spacing: -0.04em;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .portfolio__item {
    font-size: 28px;
    line-height: 1.785;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    font-size: 18px;
    line-height: 1.55;
  }
}