.navtab__link_type_movies {
  margin-right: 16px;
}

.navtab__link_type_movies:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .navtab__link_type_movies {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    margin: 0 0 22px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .navtab__link_type_movies {
    margin: 0 0 20px;
  }
}

