.portfolio__title {
  color: #A0A0A0;
  font-size: 18px;
  line-height: 1.11;
  margin: 100px 0 50px;
}

@media screen and (max-width: 767px) {
  .portfolio__title {
    font-size: 14px;
    line-height: 1.43;
    margin: 0 0 40px;
  }
}