.techs__subtitle {
  margin: 90px auto 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1279px) {
  .techs__subtitle {
    margin: 80px auto 22px;
  }
}

@media screen and (max-width: 767px) {
  .techs__subtitle {
    font-size: 30px;
    line-height: 1.2;
    margin: 60px auto 24px;
  }
}