.about-me__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .about-me__description  {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .about-me__description  {
    font-size: 11px;
    line-height: 1.45;
  }
}