.navtab__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .navtab__container {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  }
}
