.techs__item {
  width: 90px;
  height: 60px;
  background-color: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1279px) {
  .techs__item {
    font-size: 12px;
    line-height: 1.25;
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 767px) {
  .techs__item {
    margin-bottom: 10px;
  }
}