.about-me {
  max-width: calc(1280px - 2 * 70px);
  width: calc(100% - 2 * 70px);
  margin: 110px auto 0;
}

@media screen and (max-width: 1279px) {
  .about-me {
    width: calc(100% - 2 * 50px);
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .about-me {
    width: calc(100% - 2 * 14px);
    margin: 70px auto 0;
  }
}