.form__tip {
  font-size: 14px;
  line-height: 1.21;
  color: #A0A0A0;
  margin: 16px auto 0;
}

@media screen and (max-width: 767px) {
  .form__tip {
    font-size: 12px;
    line-height: 1.25;
  }
}