.about-me__summary {
  max-width: 600px;
  font-size: 14px;
  line-height: 1.57;
  margin: 26px 0 0
}

@media screen and (max-width: 1279px) {
  .about-me__summary {
    font-size: 12px;
    line-height: 1.5;
    max-width: 364px;
    margin: 20px 0 0
  }
}

@media screen and (max-width: 767px) {
  .about-me__summary  {
    font-size: 11px;
    line-height: 1.45;
  }
}