.navtab__container_opened {

}

@media screen and (max-width: 1024px) {
  .navtab__container_opened {
    visibility: visible;
    align-items: center;
    max-width: 520px;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    opacity: 1;
    background-color: white;
    padding: 160px 90px 95px;
    box-sizing: border-box;
  }
}