.about-me__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  transition: opacity 0.3s ease-in-out;
}

.about-me__link:hover {
  opacity: 0.6;
  cursor: pointer;
}